<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Cars by Year Range</title>
    <link rel="stylesheet" href="../site.css">
    <script src="../table.js"></script>
    
</head>

<body>
    <div class="container">
        <div class="small-column">
        <h1>CarQuery</h1>
        <h2>Favorites</h2>

        <h2>ID</h2>
        <form action="./cars/id">
            <label for="id">Car ID</label>
            <select name="carId" id="carId">
                {{#each carId}}
                <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Submit" />
        </form>
        <br>
        <h2>Make</h2>
        <form action="./cars/carMake">
            <label for="carMake">Car Make</label>
            <select name="carMake" id="carMake">
                {{#each carMake}}
                <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <input type="submit" value="Submit" />
        </form>
        <br>
        <h2>Model</h2>
        <form action="./cars/carModel">
            <label for="carModel">Car Model</label>
            <select name="carModel" id="carModel">
                {{#each carModel}}
                <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Submit" />
        </form>
        <br>
        <h2>Years</h2>
        <form action="./cars/years" method="GET">
            <label for="lowerYear">From (Year)</label><br>
            <input type="number" id="lowerYear" name="lower"><br>
            <label for="upperYear">To (Year)</label><br>
            <input type="number" id="upperYear" name="upper"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <h2>Country</h2>
        <form action="./cars/country">
            <label for="country">Country</label>
            <select name="country" id="country">
                {{#each countries}}
                <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <input type="submit" value="Submit" />
        </form>
        <br>
        <h2>Prices</h2>
        <form action="./cars/prices" method="GET">
            <label for="lowerPrice">From (Price)</label><br>
            <input type="number" id="lowerPrice" name="lower"><br>
            <label for="upperPrice">To (Price)</label><br>
            <input type="number" id="upperPrice" name="upper"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <h2>Odometers</h2>
        <form action="./cars/odometers" method="GET">
            <label for="lowerodometer">From (odometer)</label><br>
            <input type="number" id="lowerodometer" name="lower"><br>
            <label for="upperodometer">To (odometer)</label><br>
            <input type="number" id="upperodometer" name="upper"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
        <br>
        </div>
        <div class = "big-column">
        <h1>All Cars</h1>
        <table id="myTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">ID↑↓</th>
                    <th onclick="sortTable(1)">Car Make↑↓</th>
                    <th onclick="sortTable(2)">Car Model↑↓</th>
                    <th onclick="sortTable(3)">Year↑↓</th>
                    <th onclick="sortTable(4)">Country↑↓</th>
                    <th onclick="sortTable(5)">Price↑↓</th>
                    <th onclick="sortTable(6)">Odometer↑↓</th>
                    <th>Favourite</th>
                </tr>
            </thead>
            <tbody>
                {{#each cars}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.carMake}}</td>
                    <td>{{this.carModel}}</td>
                    <td>{{this.carYear}}</td>
                    <td>{{this.country}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.odometer}}</td>
                    <td><input type="checkbox" name="favourite" value="{{this.id}}"></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <br>
        <p>COMPSCI719 Mid-Semester Web Assignment - ABIN733</p>
        <br>
        </div>
    </div>
<script>
    // Store the ID of the car in local storage when the checkbox is clicked
    const checkboxes = document.querySelectorAll('input[name="favourite"]');

    checkboxes.forEach((checkbox) => {
    checkbox.addEventListener("click", function() {
        if (checkbox.checked) {
            localStorage.setItem(checkbox.value, "true");
            console.log(`Car with ID ${checkbox.value} is checked.`);
        } else {
            localStorage.removeItem(checkbox.value);
            console.log(`Car with ID ${checkbox.value} is unchecked.`);
        }
    });
    });

    // Check if the car ID is already favourited and check the box if it is
    checkboxes.forEach((checkbox) => {
    if (localStorage.getItem(checkbox.value) === "true") {
        checkbox.checked = true;
    }
    });
</script>
</body>
</html>